.popup__info{
    width: 76%;
    height: 27.26px;
    margin-top: 29px;
    padding-top: 0;
    border: none;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 0;
    margin-left: 34px;
}