.zoom__close{
    background-image: url(../../../images/closeicon.svg);
    background-size: contain;
    margin: auto;
    width: 52px;
    height: 52px;
    right: -42px;
    top: -32px;
    position: absolute;
    border: none;
    background-color: transparent;
    outline: none;
}
  
  .zoom__close:hover{
    opacity: 0.6;
    cursor: pointer;
  }
