
.popup__title{
    font-size: 24px;
    font-family: "Inter Bolder";
    color: black;
    width: 76%;    
    line-height: 29px;
    height: 27.26px;
    margin-left: 34px;
    margin-top: 34px;
    margin-bottom: 0;
}