.zoom__container{
  max-height: 75vh;
  max-width: 75vw;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px){
  .zoom__container{ 
  max-height: 70vh;
  max-width: 70vw;
  }
}

